altair
attrs
blinker
bottleneck
brotlicffi
cachetools
certifi
cffi
charset-normalizer
click
contourpy==1.3.3
cycler==0.12.1
fonttools==4.60.1
gitdb
GitPython
idna
Jinja2
joblib==1.5.2
jsonschema
jsonschema-specifications
kiwisolver==1.4.9
MarkupSafe
matplotlib==3.10.7
narwhals
networkx==3.5
nltk==3.9.2
numexpr
numpy
packaging
pandas
patsy==1.0.2
pillow
plotly==6.5.0
protobuf
pyarrow
pycparser
pyparsing==3.2.5
PySocks
python-dateutil
pytz
referencing
regex==2025.11.3
requests
rpds-py
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
setuptools==72.1.0
six
smmap
statsmodels==0.14.5
streamlit
tenacity
textblob==0.19.0
threadpoolctl==3.6.0
toml
tornado
tqdm==4.67.1
typing_extensions
tzdata
urllib3
watchdog==6.0.0
wheel==0.45.1
wordcloud==1.9.4
